/* Workaround to get styling on Google Places elements */

.google-places-autocomplete {
    width: 100%;
    position: relative;
    padding: 8px 0 8px 0;
}

.google-places-autocomplete__input {
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 2px;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.09);
}

.google-places-autocomplete__input:active,
.google-places-autocomplete__input:focus,
.google-places-autocomplete__input:hover {
    outline: none;
    border: none;
}

.google-places-autocomplete__suggestions-container {
    background: white;
    border-radius: 0 0 5px 5px;
    color: black;
    position: absolute;
    z-index: 2;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.09);
}

.google-places-autocomplete__suggestion::before {
    display: block;
    content: ' ';
    background-image: url('locationIcon.svg');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    padding-right: 30px;
}

.google-places-autocomplete__suggestion {
    font-size: 1rem;
    text-align: left;
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #00ccbc;
    cursor: pointer;
}

.google-places-autocomplete__suggestion:hover {
    background: rgba(200, 200, 200, 0.2);
}